@model OnlineTermWorkSubmission.Models.Lab

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>deletelabs</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Lab</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Subjects.subject_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Subjects.subject_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.lab_no)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.lab_no)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.lab_startdate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.lab_startdate)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "ViewLabs", new { sid = ViewBag.sid , id = ViewBag.id })
            </div>
        }
    </div>
</body>
</html>
