@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnrollStudent</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm("DeleteEnrolledStudent", "Faculty", new { semNo = ViewBag.semno, subId = ViewBag.sid, fid = ViewBag.id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Branch</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                <div class="col-md-10">
                    @{ Html.RenderAction("RenderBranch"); }
                </div>
                <div class="col-md-10">
                    @{ Html.RenderAction("RenderDivision"); }
                </div>
                <div class="col-md-10">
                    @{ Html.RenderAction("RenderBatch"); }
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "ViewEnrolledStudent", new { semno = ViewBag.semno, sid = ViewBag.sid, id = ViewBag.id })
    </div>
</body>
</html>
