@model IEnumerable<OnlineTermWorkSubmission.Models.Student>

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>
    <div class="jumbotron">
        @Html.ActionLink("CREATE NEW STUDENT", "CreateStudent", new { fid = ViewBag.id }) |
        @Html.ActionLink("SELECT STUDENTS TO ENROLL SUBJECTS", "SelectStudents", new { id = ViewBag.id }) |
        @Html.ActionLink("MAIN MENU", "Index", new { id = ViewBag.id })
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roll_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Division)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_Password)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Roll_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Division)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Batch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Dob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditStudent", new { id = item.Student_Id, fid = ViewBag.id }) |
            @Html.ActionLink("Delete", "DeleteStudent", new { id = item.Student_Id, fid = ViewBag.id })
        </td>
    </tr>
    }
    
    </table>
</body>
</html>
