@model IEnumerable<OnlineTermWorkSubmission.Models.Student>

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewEnrolledStudent</title>
</head>
<body>
    <div class="jumbotron">
        @Html.ActionLink("ENROLL STUDENTS", "EnrollStudent", new { semNo = ViewBag.semno, subId = ViewBag.sid, fid = ViewBag.id }) |
        @Html.ActionLink("DELETE ENROLLED STUDENTS", "DeleteEnrolledStudent", new { semNo = ViewBag.semno, subId = ViewBag.sid, fid = ViewBag.id }) |
        @Html.ActionLink("BACK TO SUBJECTS LIST", "SelectStudents", new { id = ViewBag.id })
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roll_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Division)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Roll_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Division)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Batch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteIndivisualEnrolledStudent", new { id = item.Student_Id, semNo = ViewBag.semno, subId = ViewBag.sid, fid = ViewBag.id })
        </td>
    </tr>
    }
    
    </table>
</body>
</html>
