@model IEnumerable<OnlineTermWorkSubmission.Models.Subject>

@{
  ViewBag.Title = "viewsubject";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VIEW SUBJECT</title>
</head>
<body>
    <div class="jumbotron">

        @Html.ActionLink("CREATE NEW SUBJECT", "CreateSubject", new { fid = ViewBag.id }) |
		@Html.ActionLink("MAIN MENU", "Index", new { id = ViewBag.id })
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.subject_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.semester)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.subject_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semester)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditSubject", new { subId = item.subject_id, fid = ViewBag.id }) |
                @Html.ActionLink("Delete", "DeleteSubject", new { subId = item.subject_id, fid = ViewBag.id }) |
                <b>@Html.ActionLink("View Labs", "ViewLabs", new { sid = item.subject_id, id = ViewBag.id })</b>
            </td>
        </tr>
        }

    </table>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
