@model OnlineTermWorkSubmission.Models.Student

@{

    ViewBag.Title = "studentlogin";
}

<h3>LOGIN AS A STUDENT</h3>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("StudentLogin", "Student", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <fieldset>
                   

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @if (@ViewBag.Message != null)
                    {
                        <div style="text-align:center">
                            @ViewBag.Message
                        </div>
                    }
                </fieldset>
            <br />
                <div class="form-group">
                    @Html.LabelFor(a => a.Student_Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(a => a.Student_Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Student_Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(a => a.Student_Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(a => a.Student_Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Student_Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                </div>
                <div>
                    @Html.ActionLink("Login As a Faculty", "LoginFaculty", "Faculty")
                </div>
                <br>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
