@model IEnumerable<OnlineTermWorkSubmission.Models.Lab>

@{
  
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewLabs</title>
</head>
<body>
    <div class="jumbotron">

        @Html.ActionLink("BACK TO SUBJECTS", "ViewSubject", new { id = ViewBag.id })

    </div>
    <div class="h4">
        <b>@Html.DisplayNameFor(model => model.Subjects.subject_name) : @ViewBag.subname</b>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.lab_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lab_startdate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.lab_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lab_startdate)
                </td>
                <td>
                    <b>@Html.ActionLink("View Assignments", "ViewAssignments", new { lid = item.lab_id, sid = ViewBag.sid, id = ViewBag.id })</b>
                </td>
            </tr>
        }

    </table>
</body>
</html>
