@model IEnumerable<OnlineTermWorkSubmission.Models.Assignment>

@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewAssignments</title>
</head>
<body>
    <div class="jumbotron">

        @Html.ActionLink("BACK TO LABS", "ViewLabs", new { sid = ViewBag.sid, id = ViewBag.id })

    </div>
    <div class="h4">
        <b>@Html.DisplayNameFor(model => model.Labs.lab_no) : @ViewBag.labno</b>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.assignment_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.assignment_text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.assignment_enddate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.assignment_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.assignment_text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.assignment_enddate)
                </td>
                <td>
                    <b>@Html.ActionLink("Upload File", "UploadFile", new { asgId = item.assignment_id, lid = ViewBag.lid, sid = ViewBag.sid, id = ViewBag.id })</b>
                </td>
            </tr>
        }

    </table>
</body>
</html>
